body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4e54c8, #8f94fb);
    text-align: center;
    padding-top: 100px;

}

h1 {
   color: white;
   margin-bottom: 30px;
}

button {
    background-color: white;
    color: #4b50c9;
    border: none;
    padding: 12px 30px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #363b9b;
}