body {
    font-family: Arial, sans-serif;
    background-color: #0dc5b6;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333;
}

input {
    padding: 10px;
    width: 200px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

input:focus {
    border-color: #4CAF50;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #45a049;
}

#resultado {
    margin-top: 20px;
    font-size: 20px;
    color: #222;
    line-height: 1.8;
}